h1{
    text-align: center;
}
p{
    text-align: center;
}
body{
    background-color: rgba(156, 156, 156, 0.582);
}

p1{
    color: blue;
}
p2{
    color: red;
}
.linha {
    display: flex;
    margin-left: auto;
    margin-right: auto;         
}

.caixa {
    width: 200px;
    height: 30px;
    text-align: right;
    margin-left: 8%;
    margin-right: auto;
}
.caixa1 {
    background-color: #cecccc;
    width: 160px;
    height: 23px;
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    margin-right: 20px;
    border-radius: 15px;
}
.link{
    text-decoration: none;
    color: black;
}
.link::hover{
    font-size: 110%;
}
form{
    text-align: center;
    border-width: 2px 5px 3px 6px;
    border: 10px solid black;
    border-radius: 5px;
    padding: 20px;
    margin-left: 40%;
    margin-right: 40%;
}